<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ridesRepo" class="com.andreych.practice.dao.impl.SharedRidesDaoImpl">

    </bean>
    <bean id="sharedRidesApi" class="com.andreych.practice.application.SharedRidesApiImpl">

    </bean>

</beans>